body, html {
	height: 100%;
	display: grid;
}

body {
	background: #efefef;
	margin: 0;
}

.container {
	margin: auto;
	text-align: center;
}

dd {
	margin: 0;
}

form {
	font-size: 1.2rem;
	font-family: sans-serif;
	margin: auto;
}

input[type=number] {
	padding: 1rem;
	box-sizing: content-box;
	border: none;
	background: #fff;
	border-radius: .2rem;
	font-size: 2rem;
	text-align: center;
	min-width: 16rem;
	outline: none;
	color: #555;
}

input:focus {
	outline: none;
	color: #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

button {
	padding: 1rem;
	font-size: 2rem;
	border: none;
	background: #f0f8ff;
	border-left: 0.05rem solid #cdcdcd;
	color: #333;
}

button:hover {
	background: #e1f1ff;
}

label {
	color: #616060;
	font-size: 0.8rem;
	position: absolute;
	top: auto;
	font-weight: 100;
	margin: -0.5rem 0 0 0;
}

.name {
	padding: 1rem;
	background: #fff;
	display: inline-block;
	min-width: 12rem;
	margin: 1rem 0 1rem 1rem;
}

.cost {
	padding: 1rem;
	font-weight: bold;
	display: inline-block;
	min-width: 6rem;
	margin: 1rem 1rem 1rem 0;
	background: #eec290;
}

dd:first-child .cost {
	background: #90ee90;
}


